<div id="welcome-main">
  <div id="welcome-nav">
    <a href="#">aaa</a>
    <a href="#">bbb</a>
  </div>
  <div id="welcome-search-container">
    <span class="search-text-span"><input id="search-text" type="text"></input></span>
    <span class="search-submit-span"><input id="search-submit" type="submit" value="search"></input></span>
  </div>
</div>
