<div id="welcome-main">
  <div id="welcome-nav">
    <a href="#">基本资料</a>
    <a href="#">财务资料</a>
    <a href="#">西子公告</a>
    <a href="#">西子新闻</a>
    <a href="#">股票行情</a>
    <a href="#">理论股价</a>

  </div>
  <div id="welcome-search-container">
    <span class="search-text-span"><input id="search-text" type="text"></input></span>
    <span class="search-submit-span"><input id="search-submit" type="submit" value="西子搜索"></input></span>
  </div>
</div>
