// Place all the styles related to the judge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buffett {
  .well {
    h5 {
      padding-left: 50px;
    }

    div {
      img {
        width: 600px;
        height: 480px;
        border: 1px solid black;
        margin: 0 auto;
      }
      margin: 0 auto;
      text-align: center;
    }
  }
}

#index-main {
    margin: 0 auto;
    padding-top: 100px;
    width: 720px;
    text-align: center;
    font: 12px arial;

    .flash-notice {
        height: 24px;
        font-size: 16px;
        color: red;
        background-color: yellow;
    }

    #index-nav {
        font-size: 16px;
        height: 19px;
        margin: 0 0 4px;
        text-align: left;
        text-indent: 115px;
        a {
            padding: 2px;
        }
    }

    .index-search-container {
        padding-left: 110px;
        text-align: left;
        z-index: 1;

        span.search-text-span {
            border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
            border-image: none;
            border-style: solid;
            border-width: 1px;
            display: inline-block;
            height: 30px;
            margin-right: 5px;
            vertical-align: top;
            width: 418px;

            .search-text {
                background: none repeat scroll 0 0 #FFFFFF;
                font: 16px/22px arial;
                height: 22px;
                margin: 5px 0 0 7px;
                outline: 0 none;
                width: 405px;
            }

        }

        span.search-submit-span {
            border-style: solid;
            border-width: 1px;
            background-position: -120px -240px;
            display: inline-block;
            height: 30px;
            vertical-align: top;
            width: 97px;
            z-index: 0;

            .search-submit {
                background-color: #DDDDDD;
                position: 0 -240px;
                cursor: pointer;
                font-size: 14px;
                height: 28px;
                width: 95px;
            }
        }

        input {
            border: 0 none;
            padding: 0;
        }
    }
}